{% extends 'base.html' %}

{% block content %}

<div class="row text-center">
    <div class='col'>
        QuarinTweet
    </div>
</div>
<div class="row" id="tweets">
    Loading...
</div>


<script>
   const tweetsEl = document.getElementById("tweets")
   tweetsEl.innerHTML = 'Loading...'
   
   var el1 = ""
   const xhr = new XMLHttpRequest()
   const method = 'GET' // "POST"
   const url = "/tweets"
   const responseType = "json"


   function handleLiked(tweed_id, currentCount){
        console.log(tweed_id, currentCount)
   }
   function LikeButton(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=handleLiked(" + 
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + "Like</button>"
   }
   
   function formatTweet(tweet){
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border-bottom py-3 mb-4 tweet' id='tweet-" + tweet.id + "''><p>" + tweet.content + "</p><div class'btn-group>" + LikeButton(tweet) + "</div></div>"
    return formattedTweet
   }
   
   //get the json data
   xhr.responseType = responseType
   //open request
   xhr.open(method, url)
   //when loaded log response
   xhr.onload = function() {
       const serverResponse = xhr.response
       const listedItems = serverResponse.response
       var tweetStr = "" 
       var i;
       for (i=0; i < listedItems.length; i++){
           tweetObj = listedItems[i]
           var currentItem = formatTweet(tweetObj)
                tweetStr += currentItem
       }   
       tweetsEl.innerHTML = tweetStr
    }

   xhr.send()
</script>


{% endblock content %}